@(message: String, style: String = "scala")

@defining(play.core.PlayVersion.current) { version =>

    <div class="alert alert-info" role="alert" style="margin-top: 20px;">
        Select a data source to connect to from the below list
    </div>

    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center addSrc hoverable" data-type="csv">
            CSV file
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center hoverable" data-type="parquet">
            Parquet
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center hoverable" data-type="mongodb">
            MongoDB
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center hoverable"
        data-type="cassandra">
            Cassandra
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center hoverable" data-type="jdbc">
            JDBC
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center hoverable grayed" data-type="jdbc">
            Couchbase (alpha)
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center hoverable grayed" data-type="jdbc">
            Elasticsearch (alpha)
        </li>
    </ul>


    <!-- Modal -->
    <div class="modal fade" id="sourceModal" tabindex="-1" role="dialog" aria-labelledby="sourceModalLabel"
    aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sourceModalLabel">Add a new source</h5>
                    <input type='hidden' id='slctdSrc' />
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form class="row g-3 needs-validation" id="svSrc" novalidate>
                    <div class="modal-body">
                        <div id="options">

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="saveSrc">Add source</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

}