@(message: String, style: String = "scala") @defining(play.core.PlayVersion.current) { version =>

    <div class="container py-4">
        <div class="p-5 mb-4 bg-light rounded-3">
            <h5 class="display-4 fw-bold">Steps to generate mapping</h5>
          <div class="container-fluid py-5">
              <div class="list-group">
                  <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                      <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">Add data source</h5>
                      </div>
                      <p class="mb-1">Click the Sources menu and click CSV file item. Currently the tool only supports the CSV datasource.</p>
                  </a>
                  <a href="#" class="list-group-item list-group-item-action">
                      <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">Map data source column to Ontology</h5>
                      </div>
                      <p class="mb-1">
                          When a valid datasource has been added successfully click Mappings menu item.
                          Click the entity to map each column with ontology prefixes.</p>
                  </a>
                  <a href="#" class="list-group-item list-group-item-action">
                      <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">Generate Mapping and RDF file</h5>
                      </div>
                      <p class="mb-1">
                          After mapping the columns click save button and after that click the Mappings menu item again.
                          Now click the Generate mappings to see the mapping in a readonly text box.
                          Now click the Export mappings button to generate the mapping file and RDF file.
                      </p>
                  </a>
              </div>
          </div>
          <div class="container-fluid py-5">
              <video preload="auto" width="1052" height="512" controls="controls" id="vid" muted>
                  <source src="@routes.Assets.versioned("images/mapping.mp4")" type="video/mp4"/>
              </video>
          </div>
        </div>
      </div>
}