@(message: String, data: Map[String,String], assetsFinder: AssetsFinder)

@if(message=="Home") {
    @html("Squerall - Dashboard",assetsFinder) {
        @dashboard(assetsFinder)
    }    
} else if(message=="db") {
    @html("Squerall - Dashboard",assetsFinder) {
        @dashboard(assetsFinder)
    }
} else if(message=="Add source") {
    @html("Squerall - Add Source",assetsFinder) {
        @addSource()
    }
    <script src="@assetsFinder.path("javascripts/addSource.js")"></script>
} else if(message=="Add mappings") {
  
    @html("Squerall - Add Source",assetsFinder) {
        @addMappings(message, data)
    }
    <script src="@assetsFinder.path("javascripts/export.js")"></script>
} else if(message=="Query") {
   
    @html("Squerall - Query",assetsFinder) {
        @query(message)
    }
	<script src="@assetsFinder.path("javascripts/typeahead.bundle.min.js")"></script>
    <script src="@assetsFinder.path("javascripts/query.js")"></script>
}else if(message=="Session Timeout"){
    @html("Squerall - Timeout",assetsFinder) {
        @sessiontimeout(message)
    }
}

